python-service/__pycache__/
python-service/grobid-0.5.4/*
python-service/0.5.4.zip
.vscode
.DS_STORE
node_modules
.module-cache
*.log*
build
dist
service-account.json
.jpg
.jpeg
cypress/screenshots/*
.cache
.parcel

